.services_cats {
  padding: 100px 0;
  @include _respond-to(768) {
    padding: 60px 0;
  }
  &_posts {
    @include _respond-to(992) {
      margin-bottom: 50px;
    }
  }
  &_item {
    width: 100%;
    margin-bottom: 19px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      display: block;
      font-size: 16px;
      font-weight: 500;
      color: $black-light;
      padding: 22px 40px 22px 15px;
      box-sizing: border-box;
      background: $grey_ultra-light;
      border-radius: 3px;
      position: relative;
      transition: .3s ease-in-out;
      &:hover {
        background: transparent;
        color: $blue;
        &:after {
          background: url(../img/angle-right-blue.svg) no-repeat center center;
        }
      }
      &:after {
        content: '';
        width: 10px;
        height: 16px;
        background: url(../img/angle-right.svg) no-repeat center center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
      }
    }
  }
  &_packs {
    padding-top: 55px;
    &_item {
      margin-bottom: 60px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &_title {
      font-size: 16px;
      font-weight: 600;
      color: $black-light;
      line-height: 27px;
    }
    &_text {
      font-size: 16px;
      font-weight: 300;
      padding-top: 10px;
    }
    &_btn {
      padding-top: 20px;
      a {
        display: block;
        width: 186px;
        height: 44px;
        background: $blue;
        font-size: 12px;
        font-weight: 600;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        line-height: 44px;
        border-radius: 4px;
        letter-spacing: 1px;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .3);
        &:hover {
          background: $blue-light;
          color: $black-light;
        }
      }
    }
  }
}