#lang_switcher {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 31px;
  @include _respond-to(992) {
    margin-right: 15px;
  }
  @include _respond-to(992) {
    display: none;
  }

  .language-chooser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .language-chooser-item {
      background: transparent;
      &:first-child {
        &:after {
          content: '|';
          color: $dark;
          padding: 0 3px;
        }
      }

      &.active {
        a {
          text-transform: lowercase;
          color: $blue;
        }
      }

      a {
        color: $dark;
        font-weight: 700;
      }
    }
  }

  .lang_current {
    color: $dark;
    font-weight: 700;
    text-transform: uppercase;
  }

  i {
    margin-left: 5px;
  }
}

#lang_chooser_mob {
  .language-chooser {
    display: block;

    .language-chooser-item {
      display: inline-block;
      background: transparent;

      &:first-child {
        padding-left: 0;
      }

      a {
        text-transform: lowercase;
        font-weight: 700;
        color: $dark;
      }

      &.active {
        &:after {
          content: '|';
          color: $dark;
          padding: 0 3px;
          font-size: 16px;
        }

        a {
          color: $blue;
        }
      }
    }
  }
}