.team {
  margin-top: 70px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 30px;
  &_item {
    overflow: hidden;
    border-radius: 5px;
    &_body {
      width: 100%;
      height: 436px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    &_hide {
      padding-top: 25px;
    }
  }
  &_title_block {
    padding: 40px 30px 15px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,#000000 100%);
    text-align: center;
    color: $white;
    h6 {
      font-size: 18px;
      letter-spacing: 1px;
      color: $white;
    }
    span {
      letter-spacing: 2px;
      font-weight: 300;
    }
  }
}