/* color */
$base-color: #ffffff  !default;
$white: #ffffff !default;
$black: #131317 !default;
$black-light: #333333 !default;
$grey-ultra: #252530 !default;
$grey-dark: #2f2f3e !default;
$grey: #63636e !default;
$grey-light: #ababb6 !default;
$grey-light2: #999;
$grey_ultra-light: #F6F6F6 !default;
$font-color: #6b6b6b !default;
$font-black: #333333 !default;
$yellow: #FFE038 !default;
$blue: rgb(60, 190, 198) !default;
$blue-light: #00E8F6 !default;
$green: #3FBF48 !default;

/* font-family */
$font: 'Barlow', sans-serif !default;
$montserat: 'Montserrat', sans-serif !default;


/* mobile menu sittings */
$mob_menu_bg: $white;


/* humburger sittings */
$hamburger-inner-bg: $black;
$humburger-hover: $grey-ultra;

$bg: rgba(0, 0, 0, .6);
$hamburger-inner: 20px;
$hamburger-inner-before: 20px;
$hamburger-inner-after: 20px;
$hamb-index: 2000;


	